.steps-container {
	margin-top: 40px;
	min-height: 300px;
}

.steps-container .col-left {
	width: 350px;
	display: inline-block;
	float: left;
	padding: 0 15px;
}

.steps-container .col-right {
	width: calc(100% - 350px);
	display: inline-block;
	float: right;
	padding: 0 15px;
}

.ingredients-list {
	padding: 0;
	list-style: none;
}

.ingredients-list li {
	margin-bottom: 7px;
}

.ingredients-list li:last-child {
	margin-bottom: 0;
}

.steps-list {
	padding: 0 0 0 20px;
	list-style: decimal;
}

.steps-list li {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	cursor: pointer;
	position: relative;
}

.steps-list li span{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	display: block;
	padding: 10px;
	font-size: 18px;
	line-height: 24px;
	border-radius: 5px;
}

.steps-list li:hover:after {
	content: '';
	display: block;
	width: 25px;
	height: 25px;
	background-image: url('http://image005.flaticon.com/1/png/512/0/375.png');
	background-size: contain;
	position: absolute;
	left: -55px;
	top: 9px;
}

.steps-list li:hover span {
	background-color: rgba(255, 102, 51, 0.2);
}